#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  
  text-align: left;
  display: flex;
  flex-direction: column;
  
}
* {
  box-sizing: border-box;
}
body {
  background-color: #262626;
  
  color: rgb(255, 255, 255);
  font-family: sans-serif;
  margin: 0;
}
.movie {
  border-radius: 10px;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  background-color: rgb(23, 23, 39);
  margin: 1rem;
  overflow: hidden;
  /* border-radius: 3px; */
  position: relative;
  width: 250px;
}
.movie img {
  max-width: 100%;
  max-height: 100%;
}
header{
  background-color: rgb(23, 23, 39);
  padding: 1rem;

  color: rgb(23, 23, 39);
  display: flex;
  justify-content: flex-end;
}
.search{
  font-family: inherit;
  font-size: 1.2rem;
  border: 2px solid rgb(18, 56, 95);
  border-radius: 50px;
  background-color: transparent;
  padding: 0.5rem 1.5rem;
  color: aliceblue;
}
.search:focus {
  outline: 0;
}
.movie-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.movie-info{
  display: flex;
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
}

.movie-info h3 {
  margin: 2px;
}

.movie-over{
  background-color: #262626;
  color: #efefef;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  padding: 1rem;
  position: absolute;
  overflow: auto;
  max-height: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateY(102%);
  transition: transform 0.5s ease-in-out;
}
.overview{
  color: white;
}
.movie:hover .movie-over {
  transform: translateY(0%);
}

.tag {
  background-color: rgb(18, 56, 95);
  padding: 0.5rem;
  border-radius: 5px;
  font-weight: bold;
}

.tag.green{
  color: rgb(52, 193, 52);
}

.tag.orange{
  color: rgb(255, 171, 15);
}
.tag.red{
  color: rgb(188, 38, 38);
}









